.item {
  display: flex;
  flex-direction: column;

}

.div_one {
  width: 100%;
  position: relative;
}

img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  border: 2px solid black;
}

.tag {
  position: absolute;
  padding: 4px;
  background-color: black;
  color: aliceblue;
  top: 0;
  right: 0;
  font-size: 12px;
}

.item_name {
  font-size: 18px;
  font-weight: 600;
}

.item_price {
  font-size: 14px;
  font-weight: 600;
}

.item_details {
  font-size: 12px;
}